section {
    min-height: 100vh;
}
h2 {
    text-align:  center;
    margin:0;
    font-weight: bold;
    font-size: 6rem;
}
h3 {
    font-size: 3rem;
    font-weight: bold;
}
p {
    font-size: 1.6;
    padding: 20px 0;
}